Source: disabler-network-manager 
Section: utils
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://portal.edu.gva.es/lliurex/va
#Vcs-Browser: https://salsa.debian.org/debian/foo
Vcs-Git: https://github.com/lliurex/disablerNetworkManager 

Package: disabler-network-manager
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: polkit to disable network-manager for students
 Disables network-manager for students, so they can not change or create new 
 network connections. 
