polkit.addRule(function(action,subject){
        if (action.id.startsWith("org.freedesktop.NetworkManager")){
                if (subject.isInGroup("students")){
                        return polkit.Response.NO;
                }
                else{
                        return polkit.Response.YES;
                }
        }
});
